:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;

  --slidev-slide-container-background: transparent !important;
  --un-bg-opacity: 0 !important;
}

#slide-container {
  position: absolute !important;
}

.dark body,
.dark #app,
#page-root,
.dark .slidev-slide-content {
  --un-bg-opacity: 0 !important;
  background-color: transparent !important;
}

.slidev-layout.cover,
.slidev-layout.default,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
  background-color: transparent;
}

/* custom transition */

.blur-transition-enter-active {
  transition:
    opacity 0.6s ease 0.3s,
    filter 0.3s ease;
}

.blur-transition-leave-active {
  transition:
    opacity 0.4s ease,
    filter 0.4s ease;
}

.blur-transition-enter-from,
.blur-transition-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
}

/* custom transition */
